@import "reset.css";
@import "font.css";

body {
  font-family: "Ubuntu";
  background-color: rgb(0, 0, 0);
  color: #fff;
}

/* general styles */

a {
  text-decoration: none;
  color: #fff;
}

/* header styles */

header{
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 20px;
}

header h1{
  font-size: 1.2em;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  display: inline;
}

header nav ion-icon{
  position: relative;
  top: 10px;
}

/* navigation styles */



/* main-content styles */

section#content main img {
  width: 50%;
  display: block;
  margin: auto;
  border-radius: 50%;
  margin-top: 50px;
}

section#content main div.main-title {
  text-align: center;
  margin-top: 30px;
}

section#content main div.main-title span {
  color: rgb(90, 158, 233);
  font-weight: lighter;
}

section#content main p.main-title {
  text-align: center;
  margin-top: 20px;
  font-size: 1.7em;
}

section#content main p.main-title strong,
span {
  color: rgb(133, 206, 250);
}

section#content main div {
  text-align: center;
  margin-top: 50px;
}

section#content main div a {
  background-color: #fff;
  color: #000;
  padding: 5px;
}

/* footer styles */

footer p {
  text-align: center;
  margin-top: 150px;
}

footer progress {
  display: block;
  margin: auto;
}

ion-icon {
  font-size: 30px;
}