.content-section .about h3{
    color: var(--blue);
    font-size: 1.7rem;
}

.content-section .about span{
    font-size: 1.3rem;
}

.content-section .about p{
    font-size: 18px;
    line-height: 27px;
}

.content-section .social{
    margin-top: 100px;
    position: relative;
}

.content-section .social p{
    color: var(--blue);
    font-size: 22px;
}

.content-section .social ul{
    display: flex;
    padding: 0;
}

.content-section .social ul li a{
    margin: 0 10px;
}

.content-section .social ul li a ion-icon{
    color: var(--blue);
    vertical-align: -6px;
    margin-right: 5px;
}

@media only screen and (max-width:576px){
    .content-section{
        text-align: center;
        display: inline-block;
        margin-top: 220px!important;
    }
    .content-section .about{
        text-align: justify;
    }
    .content-section .social{
        display: flex;
        justify-content: space-around;
        margin-top: 140px;
    }
    .content-section .social p{
        position: absolute;
        bottom: 40px;
    }
}

@media only screen and (min-width:576px) and (max-width:768px){
    .content-section{
        text-align: center;
        display: inline-block;
        margin-top: 220px!important;
    }
    .content-section .social{
        display: flex;
        justify-content: space-around;
        margin-top: 140px;
    }
    .content-section .social p{
        position: absolute;
        bottom: 40px;
    }
}

@media only screen and (min-width:768px){
    .content-section .social ul li a{
        margin-left: 0;
        margin-right: 20px;
    }
}