@import url("reset.css");
@import url("fonts.css");
@import url("grid.css");
@import url("utility.css");
@import url("_navbar.css");
@import url("_header.css");
@import url("_content.css");
@import url("_footer.css");

body{
    font-family: "Guminert-Light";
    background-color: var(--black);
    background-image: url("../images/bg.png");
    color: var(--white);
    transition: all 1s ease;
}

:root{
    --black: #000;
    --white: #fff;
    --blue: #25b2e3;
    --hover: #C8C8C8;
}

ion-icon{
    font-size: 24px;
}

a{
    text-decoration: none;
    color: var(--white);
}

ol,ul{
    list-style: none;
}

.container{
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-fluid{
    width: 100%;
}

.darkmode{
    background-color: var(--white);
    color: var(--black);
}

.darkmode .navbar-section a{
    color: var(--black);
}

.darkmode .header-section img{
    box-shadow: 0 0 25px var(--black);
}

.darkmode .content-section .social a{
    color: var(--black);
}

.darkmode .footer-section a.top ion-icon{
    color: gray;
}